//fonts
$font_0: RobotoDraft;

//urls
$url_0: url(http://fonts.gstatic.com/s/robotodraft/v4/hope9NW9iJ5hh8P5PM_EA3cHpeTo4zNkUa02-F9r1VE.woff2);
$url_1: url(http://fonts.gstatic.com/s/robotodraft/v4/hope9NW9iJ5hh8P5PM_EA5HDipyzW3oxlM2ogtcJE3o.woff2);
$url_2: url(http://fonts.gstatic.com/s/robotodraft/v4/hope9NW9iJ5hh8P5PM_EAwrQu7msDD1BXoJWeH_ykbQ.woff2);
$url_3: url(http://fonts.gstatic.com/s/robotodraft/v4/hope9NW9iJ5hh8P5PM_EAz_9YuvR6BbpvcNvv-P7CJ0.woff2);
$url_4: url(http://fonts.gstatic.com/s/robotodraft/v4/hope9NW9iJ5hh8P5PM_EAyGQb_MN5JCwpvZt9ko0I5U.woff2);
$url_5: url(http://fonts.gstatic.com/s/robotodraft/v4/hope9NW9iJ5hh8P5PM_EA7r6l97bd_cX8oZCLqDvOn0.woff2);
$url_6: url(http://fonts.gstatic.com/s/robotodraft/v4/hope9NW9iJ5hh8P5PM_EA9FPPhm6yPYYGACxOp9LMJ4.woff2);
$url_7: url(http://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwRgVThLs8Y7ETJzDCYFCSLE.woff2);
$url_8: url(http://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwZiMaisvaUVUsYyVzOmndek.woff2);
$url_9: url(http://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwbBAWGjcah5Ky0jbCgIwDB8.woff2);
$url_10: url(http://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-Vwf14vlcfyPYlAcQy2UfDRm4.woff2);
$url_11: url(http://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwafJul7RR1X4poJgi27uS4w.woff2);
$url_12: url(http://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwavyPXdneeGd26m9EmFSSWg.woff2);
$url_13: url(http://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwUo2lTMeWA_kmIyWrkNCwPc.woff2);
$url_14: url(http://fonts.gstatic.com/s/robotodraft/v4/0xES5Sl_v6oyT7dAKuonizTOQ_MqJVwkKsUn0wKzc2I.woff2);
$url_15: url(http://fonts.gstatic.com/s/robotodraft/v4/0xES5Sl_v6oyT7dAKuonizUj_cnvWIuuBMVgbX098Mw.woff2);
$url_16: url(http://fonts.gstatic.com/s/robotodraft/v4/0xES5Sl_v6oyT7dAKuoni0bcKLIaa1LC45dFaAfauRA.woff2);
$url_17: url(http://fonts.gstatic.com/s/robotodraft/v4/0xES5Sl_v6oyT7dAKuoni2o_sUJ8uO4YLWRInS22T3Y.woff2);
$url_18: url(http://fonts.gstatic.com/s/robotodraft/v4/0xES5Sl_v6oyT7dAKuoni76up8jxqWt8HVA3mDhkV_0.woff2);
$url_19: url(http://fonts.gstatic.com/s/robotodraft/v4/0xES5Sl_v6oyT7dAKuoniyYE0-AqJ3nfInTTiDXDjU4.woff2);
$url_20: url(http://fonts.gstatic.com/s/robotodraft/v4/0xES5Sl_v6oyT7dAKuoni44P5ICox8Kq3LLUNMylGO4.woff2);
$url_21: url(http://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VweKfXlfQjcwZMTeE7wI4WGI.woff2);
$url_22: url(http://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwUtJuoiaQfPpa269V2FDaLo.woff2);
$url_23: url(http://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-Vwb_PilIG-AM4Aw-a0tUNcnA.woff2);
$url_24: url(http://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwZ2u1fTOyc-e8Bt1FRZ8XII.woff2);
$url_25: url(http://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwXdOSIwbEkyw5bZp8Nzw7hU.woff2);
$url_26: url(http://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwbX8PDrklLOWyWIn-2-AqKA.woff2);
$url_27: url(http://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwbBojE9J5UnpMtv5N3zfxwk.woff2);
$url_28: url(http://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwZ6iIh_FvlUHQwED9Yt5Kbw.woff2);
$url_29: url(http://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwS_vZmeiCMnoWNN9rHBYaTc.woff2);
$url_30: url(http://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwSFaMxiho_5XQnyRZzQsrZs.woff2);
$url_31: url(http://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwQalQocB-__pDVGhF3uS2Ks.woff2);
$url_32: url(http://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwWhQUTDJGru-0vvUpABgH8I.woff2);
$url_33: url(http://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwejkDdvhIIFj_YMdgqpnSB0.woff2);
$url_34: url(http://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwYlIZu-HDpmDIZMigmsroc4.woff2);
$url_35: url(http://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwT3ms2ZYvNIk-NBT0TWd7d8.woff2);
$url_36: url(http://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwSSVcAiWRG34AZh10ouskJM.woff2);
$url_37: url(http://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwdMe8bR2ydf-7TTtdsqQSX8.woff2);
$url_38: url(http://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-Vwcds_PxIKQVWhSolulHOiVA.woff2);
$url_39: url(http://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwbSYYZADbk_6PT7FzZ2GScM.woff2);
$url_40: url(http://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwblR9l3n4ZtVZdCvvDPwi9o.woff2);
$url_41: url(http://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwcpPZoEQdaDZ3o3Np19rzJk.woff2);
$url_42: url(http://fonts.gstatic.com/s/robotodraft/v4/Ay6EZzwUGVUsN3kEeOQ5YWq2gdF6NzwltrB59fRo0Z0.woff2);
$url_43: url(http://fonts.gstatic.com/s/robotodraft/v4/Ay6EZzwUGVUsN3kEeOQ5Ya2EZPV9qBsvTauxJw1OF28.woff2);
$url_44: url(http://fonts.gstatic.com/s/robotodraft/v4/Ay6EZzwUGVUsN3kEeOQ5YRKMF175WV4UzSeFHp4RJEU.woff2);
$url_45: url(http://fonts.gstatic.com/s/robotodraft/v4/Ay6EZzwUGVUsN3kEeOQ5YcGOLSwLeDv3U_nooCiqyFM.woff2);
$url_46: url(http://fonts.gstatic.com/s/robotodraft/v4/Ay6EZzwUGVUsN3kEeOQ5YZohP0M01q3_LTz-9_JTuJo.woff2);
$url_47: url(http://fonts.gstatic.com/s/robotodraft/v4/Ay6EZzwUGVUsN3kEeOQ5YclxIGwle5NSJLl5a84y7tY.woff2);
$url_48: url(http://fonts.gstatic.com/s/robotodraft/v4/Ay6EZzwUGVUsN3kEeOQ5YQCt6Xj8PpQTiblvscQDJGE.woff2);
$url_49: url(http://fonts.gstatic.com/s/robotodraft/v4/5SAvdU0uYYlH8OURAykt55j-V6LsH9mlJA7h_TbvgZY.woff2);
$url_50: url(http://fonts.gstatic.com/s/robotodraft/v4/5SAvdU0uYYlH8OURAykt55s5U9veDnZLWIxO8rW1PxA.woff2);
$url_51: url(http://fonts.gstatic.com/s/robotodraft/v4/5SAvdU0uYYlH8OURAykt54wFbcwXbcXja4E9XM5MiWA.woff2);
$url_52: url(http://fonts.gstatic.com/s/robotodraft/v4/5SAvdU0uYYlH8OURAykt5_JR4Go6u_MfxpwZQQktOuM.woff2);
$url_53: url(http://fonts.gstatic.com/s/robotodraft/v4/5SAvdU0uYYlH8OURAykt59AV0F-xAyXIZAGI_3x7nhU.woff2);
$url_54: url(http://fonts.gstatic.com/s/robotodraft/v4/5SAvdU0uYYlH8OURAykt58c8WAtuCsiWsGOne_tyOu0.woff2);
$url_55: url(http://fonts.gstatic.com/s/robotodraft/v4/5SAvdU0uYYlH8OURAykt52JNL1kWLlAYCVnltOJOPdY.woff2);
$url_56: url(http://fonts.gstatic.com/s/robotodraft/v4/er-TIW55l9KWsTS1x9bTfhNcqx07xvyppV96iFRdwiM.woff2);
$url_57: url(http://fonts.gstatic.com/s/robotodraft/v4/er-TIW55l9KWsTS1x9bTfufhZE2STYI3KzBGzrJG_ik.woff2);
$url_58: url(http://fonts.gstatic.com/s/robotodraft/v4/er-TIW55l9KWsTS1x9bTfm6cj8HaeL2jS4NIBPr3RFo.woff2);
$url_59: url(http://fonts.gstatic.com/s/robotodraft/v4/er-TIW55l9KWsTS1x9bTftcKKn5Xt5n-nnvkqIBMZms.woff2);
$url_60: url(http://fonts.gstatic.com/s/robotodraft/v4/er-TIW55l9KWsTS1x9bTfvoTkEokFSrSpvYSpZOeZRs.woff2);
$url_61: url(http://fonts.gstatic.com/s/robotodraft/v4/er-TIW55l9KWsTS1x9bTfk_0lycXMw8PhobHtu2Qgco.woff2);
$url_62: url(http://fonts.gstatic.com/s/robotodraft/v4/er-TIW55l9KWsTS1x9bTfsu2Q0OS-KeTAWjgkS85mDg.woff2);

@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 100;
	src: local('RobotoDraft Thin'), local('RobotoDraft-Thin'), $url_0 format('woff2');
	unicode-range: U +0460-052F, U +20B4, U +2DE0-2DFF, U +A640-A69F;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 100;
	src: local('RobotoDraft Thin'), local('RobotoDraft-Thin'), $url_1 format('woff2');
	unicode-range: U +0400-045F, U +0490-0491, U +04B0-04B1, U +2116;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 100;
	src: local('RobotoDraft Thin'), local('RobotoDraft-Thin'), $url_2 format('woff2');
	unicode-range: U +1F00-1FFF;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 100;
	src: local('RobotoDraft Thin'), local('RobotoDraft-Thin'), $url_3 format('woff2');
	unicode-range: U +0370-03FF;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 100;
	src: local('RobotoDraft Thin'), local('RobotoDraft-Thin'), $url_4 format('woff2');
	unicode-range: U +0102-0103, U +1EA0-1EF1, U +20AB;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 100;
	src: local('RobotoDraft Thin'), local('RobotoDraft-Thin'), $url_5 format('woff2');
	unicode-range: U +0100-024F, U +1E00-1EFF, U +20A0-20AB, U +20AD-20CF, U +2C60-2C7F, U +A720-A7FF;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 100;
	src: local('RobotoDraft Thin'), local('RobotoDraft-Thin'), $url_6 format('woff2');
	unicode-range: U +0000-00FF, U +0131, U +0152-0153, U +02C6, U +02DA, U +02DC, U +2000-206F, U +2074, U +20AC, U +2212, U +2215, U +E0FF, U +EFFD, U +F000;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 300;
	src: local('RobotoDraft Light'), local('RobotoDraft-Light'), $url_7 format('woff2');
	unicode-range: U +0460-052F, U +20B4, U +2DE0-2DFF, U +A640-A69F;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 300;
	src: local('RobotoDraft Light'), local('RobotoDraft-Light'), $url_8 format('woff2');
	unicode-range: U +0400-045F, U +0490-0491, U +04B0-04B1, U +2116;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 300;
	src: local('RobotoDraft Light'), local('RobotoDraft-Light'), $url_9 format('woff2');
	unicode-range: U +1F00-1FFF;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 300;
	src: local('RobotoDraft Light'), local('RobotoDraft-Light'), $url_10 format('woff2');
	unicode-range: U +0370-03FF;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 300;
	src: local('RobotoDraft Light'), local('RobotoDraft-Light'), $url_11 format('woff2');
	unicode-range: U +0102-0103, U +1EA0-1EF1, U +20AB;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 300;
	src: local('RobotoDraft Light'), local('RobotoDraft-Light'), $url_12 format('woff2');
	unicode-range: U +0100-024F, U +1E00-1EFF, U +20A0-20AB, U +20AD-20CF, U +2C60-2C7F, U +A720-A7FF;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 300;
	src: local('RobotoDraft Light'), local('RobotoDraft-Light'), $url_13 format('woff2');
	unicode-range: U +0000-00FF, U +0131, U +0152-0153, U +02C6, U +02DA, U +02DC, U +2000-206F, U +2074, U +20AC, U +2212, U +2215, U +E0FF, U +EFFD, U +F000;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 400;
	src: local('RobotoDraft'), local('RobotoDraft-Regular'), $url_14 format('woff2');
	unicode-range: U +0460-052F, U +20B4, U +2DE0-2DFF, U +A640-A69F;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 400;
	src: local('RobotoDraft'), local('RobotoDraft-Regular'), $url_15 format('woff2');
	unicode-range: U +0400-045F, U +0490-0491, U +04B0-04B1, U +2116;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 400;
	src: local('RobotoDraft'), local('RobotoDraft-Regular'), $url_16 format('woff2');
	unicode-range: U +1F00-1FFF;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 400;
	src: local('RobotoDraft'), local('RobotoDraft-Regular'), $url_17 format('woff2');
	unicode-range: U +0370-03FF;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 400;
	src: local('RobotoDraft'), local('RobotoDraft-Regular'), $url_18 format('woff2');
	unicode-range: U +0102-0103, U +1EA0-1EF1, U +20AB;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 400;
	src: local('RobotoDraft'), local('RobotoDraft-Regular'), $url_19 format('woff2');
	unicode-range: U +0100-024F, U +1E00-1EFF, U +20A0-20AB, U +20AD-20CF, U +2C60-2C7F, U +A720-A7FF;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 400;
	src: local('RobotoDraft'), local('RobotoDraft-Regular'), $url_20 format('woff2');
	unicode-range: U +0000-00FF, U +0131, U +0152-0153, U +02C6, U +02DA, U +02DC, U +2000-206F, U +2074, U +20AC, U +2212, U +2215, U +E0FF, U +EFFD, U +F000;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 500;
	src: local('RobotoDraft Medium'), local('RobotoDraft-Medium'), $url_21 format('woff2');
	unicode-range: U +0460-052F, U +20B4, U +2DE0-2DFF, U +A640-A69F;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 500;
	src: local('RobotoDraft Medium'), local('RobotoDraft-Medium'), $url_22 format('woff2');
	unicode-range: U +0400-045F, U +0490-0491, U +04B0-04B1, U +2116;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 500;
	src: local('RobotoDraft Medium'), local('RobotoDraft-Medium'), $url_23 format('woff2');
	unicode-range: U +1F00-1FFF;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 500;
	src: local('RobotoDraft Medium'), local('RobotoDraft-Medium'), $url_24 format('woff2');
	unicode-range: U +0370-03FF;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 500;
	src: local('RobotoDraft Medium'), local('RobotoDraft-Medium'), $url_25 format('woff2');
	unicode-range: U +0102-0103, U +1EA0-1EF1, U +20AB;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 500;
	src: local('RobotoDraft Medium'), local('RobotoDraft-Medium'), $url_26 format('woff2');
	unicode-range: U +0100-024F, U +1E00-1EFF, U +20A0-20AB, U +20AD-20CF, U +2C60-2C7F, U +A720-A7FF;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 500;
	src: local('RobotoDraft Medium'), local('RobotoDraft-Medium'), $url_27 format('woff2');
	unicode-range: U +0000-00FF, U +0131, U +0152-0153, U +02C6, U +02DA, U +02DC, U +2000-206F, U +2074, U +20AC, U +2212, U +2215, U +E0FF, U +EFFD, U +F000;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 700;
	src: local('RobotoDraft Bold'), local('RobotoDraft-Bold'), $url_28 format('woff2');
	unicode-range: U +0460-052F, U +20B4, U +2DE0-2DFF, U +A640-A69F;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 700;
	src: local('RobotoDraft Bold'), local('RobotoDraft-Bold'), $url_29 format('woff2');
	unicode-range: U +0400-045F, U +0490-0491, U +04B0-04B1, U +2116;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 700;
	src: local('RobotoDraft Bold'), local('RobotoDraft-Bold'), $url_30 format('woff2');
	unicode-range: U +1F00-1FFF;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 700;
	src: local('RobotoDraft Bold'), local('RobotoDraft-Bold'), $url_31 format('woff2');
	unicode-range: U +0370-03FF;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 700;
	src: local('RobotoDraft Bold'), local('RobotoDraft-Bold'), $url_32 format('woff2');
	unicode-range: U +0102-0103, U +1EA0-1EF1, U +20AB;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 700;
	src: local('RobotoDraft Bold'), local('RobotoDraft-Bold'), $url_33 format('woff2');
	unicode-range: U +0100-024F, U +1E00-1EFF, U +20A0-20AB, U +20AD-20CF, U +2C60-2C7F, U +A720-A7FF;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 700;
	src: local('RobotoDraft Bold'), local('RobotoDraft-Bold'), $url_34 format('woff2');
	unicode-range: U +0000-00FF, U +0131, U +0152-0153, U +02C6, U +02DA, U +02DC, U +2000-206F, U +2074, U +20AC, U +2212, U +2215, U +E0FF, U +EFFD, U +F000;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 900;
	src: local('RobotoDraft Black'), local('RobotoDraft-Black'), $url_35 format('woff2');
	unicode-range: U +0460-052F, U +20B4, U +2DE0-2DFF, U +A640-A69F;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 900;
	src: local('RobotoDraft Black'), local('RobotoDraft-Black'), $url_36 format('woff2');
	unicode-range: U +0400-045F, U +0490-0491, U +04B0-04B1, U +2116;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 900;
	src: local('RobotoDraft Black'), local('RobotoDraft-Black'), $url_37 format('woff2');
	unicode-range: U +1F00-1FFF;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 900;
	src: local('RobotoDraft Black'), local('RobotoDraft-Black'), $url_38 format('woff2');
	unicode-range: U +0370-03FF;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 900;
	src: local('RobotoDraft Black'), local('RobotoDraft-Black'), $url_39 format('woff2');
	unicode-range: U +0102-0103, U +1EA0-1EF1, U +20AB;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 900;
	src: local('RobotoDraft Black'), local('RobotoDraft-Black'), $url_40 format('woff2');
	unicode-range: U +0100-024F, U +1E00-1EFF, U +20A0-20AB, U +20AD-20CF, U +2C60-2C7F, U +A720-A7FF;
}
@font-face {
	font-family: $font_0;
	font-style: normal;
	font-weight: 900;
	src: local('RobotoDraft Black'), local('RobotoDraft-Black'), $url_41 format('woff2');
	unicode-range: U +0000-00FF, U +0131, U +0152-0153, U +02C6, U +02DA, U +02DC, U +2000-206F, U +2074, U +20AC, U +2212, U +2215, U +E0FF, U +EFFD, U +F000;
}
@font-face {
	font-family: $font_0;
	font-style: italic;
	font-weight: 100;
	src: local('RobotoDraft Thin Italic'), local('RobotoDraft-ThinItalic'), $url_42 format('woff2');
	unicode-range: U +0460-052F, U +20B4, U +2DE0-2DFF, U +A640-A69F;
}
@font-face {
	font-family: $font_0;
	font-style: italic;
	font-weight: 100;
	src: local('RobotoDraft Thin Italic'), local('RobotoDraft-ThinItalic'), $url_43 format('woff2');
	unicode-range: U +0400-045F, U +0490-0491, U +04B0-04B1, U +2116;
}
@font-face {
	font-family: $font_0;
	font-style: italic;
	font-weight: 100;
	src: local('RobotoDraft Thin Italic'), local('RobotoDraft-ThinItalic'), $url_44 format('woff2');
	unicode-range: U +1F00-1FFF;
}
@font-face {
	font-family: $font_0;
	font-style: italic;
	font-weight: 100;
	src: local('RobotoDraft Thin Italic'), local('RobotoDraft-ThinItalic'), $url_45 format('woff2');
	unicode-range: U +0370-03FF;
}
@font-face {
	font-family: $font_0;
	font-style: italic;
	font-weight: 100;
	src: local('RobotoDraft Thin Italic'), local('RobotoDraft-ThinItalic'), $url_46 format('woff2');
	unicode-range: U +0102-0103, U +1EA0-1EF1, U +20AB;
}
@font-face {
	font-family: $font_0;
	font-style: italic;
	font-weight: 100;
	src: local('RobotoDraft Thin Italic'), local('RobotoDraft-ThinItalic'), $url_47 format('woff2');
	unicode-range: U +0100-024F, U +1E00-1EFF, U +20A0-20AB, U +20AD-20CF, U +2C60-2C7F, U +A720-A7FF;
}
@font-face {
	font-family: $font_0;
	font-style: italic;
	font-weight: 100;
	src: local('RobotoDraft Thin Italic'), local('RobotoDraft-ThinItalic'), $url_48 format('woff2');
	unicode-range: U +0000-00FF, U +0131, U +0152-0153, U +02C6, U +02DA, U +02DC, U +2000-206F, U +2074, U +20AC, U +2212, U +2215, U +E0FF, U +EFFD, U +F000;
}
@font-face {
	font-family: $font_0;
	font-style: italic;
	font-weight: 300;
	src: local('RobotoDraft Light Italic'), local('RobotoDraft-LightItalic'), $url_49 format('woff2');
	unicode-range: U +0460-052F, U +20B4, U +2DE0-2DFF, U +A640-A69F;
}
@font-face {
	font-family: $font_0;
	font-style: italic;
	font-weight: 300;
	src: local('RobotoDraft Light Italic'), local('RobotoDraft-LightItalic'), $url_50 format('woff2');
	unicode-range: U +0400-045F, U +0490-0491, U +04B0-04B1, U +2116;
}
@font-face {
	font-family: $font_0;
	font-style: italic;
	font-weight: 300;
	src: local('RobotoDraft Light Italic'), local('RobotoDraft-LightItalic'), $url_51 format('woff2');
	unicode-range: U +1F00-1FFF;
}
@font-face {
	font-family: $font_0;
	font-style: italic;
	font-weight: 300;
	src: local('RobotoDraft Light Italic'), local('RobotoDraft-LightItalic'), $url_52 format('woff2');
	unicode-range: U +0370-03FF;
}
@font-face {
	font-family: $font_0;
	font-style: italic;
	font-weight: 300;
	src: local('RobotoDraft Light Italic'), local('RobotoDraft-LightItalic'), $url_53 format('woff2');
	unicode-range: U +0102-0103, U +1EA0-1EF1, U +20AB;
}
@font-face {
	font-family: $font_0;
	font-style: italic;
	font-weight: 300;
	src: local('RobotoDraft Light Italic'), local('RobotoDraft-LightItalic'), $url_54 format('woff2');
	unicode-range: U +0100-024F, U +1E00-1EFF, U +20A0-20AB, U +20AD-20CF, U +2C60-2C7F, U +A720-A7FF;
}
@font-face {
	font-family: $font_0;
	font-style: italic;
	font-weight: 300;
	src: local('RobotoDraft Light Italic'), local('RobotoDraft-LightItalic'), $url_55 format('woff2');
	unicode-range: U +0000-00FF, U +0131, U +0152-0153, U +02C6, U +02DA, U +02DC, U +2000-206F, U +2074, U +20AC, U +2212, U +2215, U +E0FF, U +EFFD, U +F000;
}
@font-face {
	font-family: $font_0;
	font-style: italic;
	font-weight: 400;
	src: local('RobotoDraft Italic'), local('RobotoDraft-Italic'), $url_56 format('woff2');
	unicode-range: U +0460-052F, U +20B4, U +2DE0-2DFF, U +A640-A69F;
}
@font-face {
	font-family: $font_0;
	font-style: italic;
	font-weight: 400;
	src: local('RobotoDraft Italic'), local('RobotoDraft-Italic'), $url_57 format('woff2');
	unicode-range: U +0400-045F, U +0490-0491, U +04B0-04B1, U +2116;
}
@font-face {
	font-family: $font_0;
	font-style: italic;
	font-weight: 400;
	src: local('RobotoDraft Italic'), local('RobotoDraft-Italic'), $url_58 format('woff2');
	unicode-range: U +1F00-1FFF;
}
@font-face {
	font-family: $font_0;
	font-style: italic;
	font-weight: 400;
	src: local('RobotoDraft Italic'), local('RobotoDraft-Italic'), $url_59 format('woff2');
	unicode-range: U +0370-03FF;
}
@font-face {
	font-family: $font_0;
	font-style: italic;
	font-weight: 400;
	src: local('RobotoDraft Italic'), local('RobotoDraft-Italic'), $url_60 format('woff2');
	unicode-range: U +0102-0103, U +1EA0-1EF1, U +20AB;
}
@font-face {
	font-family: $font_0;
	font-style: italic;
	font-weight: 400;
	src: local('RobotoDraft Italic'), local('RobotoDraft-Italic'), $url_61 format('woff2');
	unicode-range: U +0100-024F, U +1E00-1EFF, U +20A0-20AB, U +20AD-20CF, U +2C60-2C7F, U +A720-A7FF;
}
@font-face {
	font-family: $font_0;
	font-style: italic;
	font-weight: 400;
	src: local('RobotoDraft Italic'), local('RobotoDraft-Italic'), $url_62 format('woff2');
	unicode-range: U +0000-00FF, U +0131, U +0152-0153, U +02C6, U +02DA, U +02DC, U +2000-206F, U +2074, U +20AC, U +2212, U +2215, U +E0FF, U +EFFD, U +F000;
}
