<md-dialog aria-label="Mango (Fruit)" flex="80" flex-sm="100">
    <md-toolbar md-theme="{{triSkin.elements.content}}">
        <div class="md-toolbar-tools">
            <h2>
                <span translate>MENU.SETTINGS.DIALOG.EQUIPMENT</span>
            </h2>
        </div>
    </md-toolbar>

    <md-divider></md-divider>

    <md-dialog-content class="sticky-container">
        <md-list>
            <md-checkbox class="md-primary md-2-line" ng-repeat="(stroke, enabled) in vm.strokes" ng-model="vm.strokes[stroke]" aria-label="Default Checkbox">
                {{stroke}}
            </md-checkbox>
            <!--<md-checkbox class="md-primary" ng-model="vm.preferences.useKickboard" aria-label="Primary Checkbox">-->
            <!--Fins-->
            <!--</md-checkbox>-->
            <!--<md-checkbox class="md-warn" ng-model="vm.preferences.default" aria-label="Warn Checkbox">-->
            <!--Paddles-->
            <!--</md-checkbox>-->
            <!--<md-checkbox class="md-warn" ng-model="vm.preferences.default" aria-label="Warn Checkbox">-->
            <!--Pull buoy-->
            <!--</md-checkbox>-->
            <!--<md-checkbox class="md-warn" ng-model="vm.preferences.default" aria-label="Warn Checkbox">-->
            <!--Bands-->
            <!--</md-checkbox>-->
        </md-list>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="vm.hideStrokes()" class="md-primary" ng-disabled="taskForm.$invalid">Ok</md-button>
    </div>
</md-dialog>
