<md-dialog aria-label="Mango (Fruit)" flex="80" flex-sm="100">
    <md-toolbar md-theme="{{triSkin.elements.content}}">
        <div class="md-toolbar-tools">
            <h2>
                <span translate>MENU.SETTINGS.DIALOG.EQUIPMENT</span>
            </h2>
        </div>
    </md-toolbar>

    <md-divider></md-divider>

    <md-dialog-content class="sticky-container">
        <md-checkbox class="md-primary" ng-repeat="(equipment, enabled) in vm.equipments" ng-model="vm.equipments[equipment]" aria-label="Default Checkbox">
           {{equipment}}
        </md-checkbox>
        <!--<md-checkbox class="md-primary" ng-model="vm.preferences.useKickboard" aria-label="Primary Checkbox">-->
            <!--Fins-->
        <!--</md-checkbox>-->
        <!--<md-checkbox class="md-warn" ng-model="vm.preferences.default" aria-label="Warn Checkbox">-->
            <!--Paddles-->
        <!--</md-checkbox>-->
        <!--<md-checkbox class="md-warn" ng-model="vm.preferences.default" aria-label="Warn Checkbox">-->
            <!--Pull buoy-->
        <!--</md-checkbox>-->
        <!--<md-checkbox class="md-warn" ng-model="vm.preferences.default" aria-label="Warn Checkbox">-->
            <!--Bands-->
        <!--</md-checkbox>-->
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="vm.hideEquipments()" class="md-primary" ng-disabled="taskForm.$invalid">Ok</md-button>
    </div>
</md-dialog>
