<md-dialog aria-label="Mango (Fruit)" flex="80" flex-sm="100">
    <md-toolbar md-theme="{{triSkin.elements.content}}">
        <div class="md-toolbar-tools">
            <h2>
                <span translate>MENU.DETAIL.DIALOG.NEW</span>
            </h2>
        </div>
    </md-toolbar>

    <md-divider></md-divider>

    <md-dialog-content class="sticky-container">
        <md-list>
            <md-subheader class="md-no-sticky">General</md-subheader>
            <md-list-item class="md-2-line" >
                <div layout="row" layout-align="center center" layout-fill>
                    <md-icon class="md-primary" md-font-icon="zmdi zmdi-time" flex="15"></md-icon>
                    <label flex>Duration</label>
                    <md-select flex="35" ng-model="vm.preferences.duration" ng-change="vm.settingsChanged()" placeholder="pick">
                        <!--<md-option ng-value="value" ng-repeat="(value, label) in vm.options.toolbarSizes" translate>{{label}}</md-option>-->
                        <md-option value="2400">30-45 mins</md-option>
                        <md-option value="3300">45-60 mins</md-option>
                    </md-select>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line" >
                <div layout="row" layout-align="center center" layout-fill>
                    <md-icon class="md-primary" md-font-icon="zmdi zmdi-assignment" flex="15"></md-icon>
                    <div class="md-list-item-text">
                        <h3>Type</h3>
                        <p></p>
                    </div>
                    <md-select flex="35" ng-model="vm.preferences.workoutType" ng-change="vm.settingsChanged()" placeholder="pick">
                        <!--<md-option ng-value="value" ng-repeat="(value, label) in vm.options.toolbarSizes" translate>{{label}}</md-option>-->
                        <md-option value="Any">Any</md-option>
                        <md-option value="Technique">Technique</md-option>
                        <md-option value="Endurance">Endurance</md-option>
                        <md-option value="TimeTrial">Time Trial</md-option>
                    </md-select >
                </div>
            </md-list-item>
            <md-list-item class="md-2-line">
                <div layout="row" layout-align="center center" layout-fill>
                    <md-icon class="md-primary" md-font-icon="fa fa-life-saver" flex="15"></md-icon>
                    <div class="md-list-item-text">
                        <h3>Use equipment</h3>
                        <p>{{vm.selectedEquipmentsText}}</p>
                    </div>
                    <md-switch class="md-primary" ng-model="vm.preferences.useEquipment" ng-change="vm.settingsChanged()"></md-switch>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-subheader class="md-no-sticky">Today</md-subheader>
            <md-list-item class="md-2-line" >
                <div layout="row" layout-align="center center" layout-fill>
                    <md-icon class="md-primary" md-font-icon="fa fa-leaf" flex="15"></md-icon>
                    <div class="md-list-item-text">
                        <h3>Take it easy today</h3>
                        <p>Workout will be easier than usual</p>
                    </div>
                    <md-switch class="md-primary" ng-model="vm.preferences.easyDay"></md-switch>
                </div>
            </md-list-item>
        </md-list>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="vm.cancel()">Cancel</md-button>
        <md-button ng-click="vm.hide()" class="md-primary" ng-disabled="taskForm.$invalid">Ok</md-button>
    </div>
</md-dialog>
