md-list-item.Easy{

    border:
        {
            style: solid;
            left: {
                width: 10px;
                color: rgb(124, 179, 66);
            };
        }
}

md-list-item.Aerobic{

    border:
        {
            style: solid;
            left: {
                width: 10px;
                color: rgb(255, 179, 0);
            };
        }
}

md-list-item.Effort{

    border:
        {
            style: solid;
            left: {
                width: 10px;
                color: rgb(255, 112, 67);
            };
        }
}

md-list-item.exercise{

    border:
        {
            right: {
                width: 0px;
            };
            bottom: {
                width: 0px;
            };
            top: {
                width: 0px;
            };
        };
    padding: 0 30px 0 10px;
    min-height: 0px;
}

.no-workout-text{
    height : 100%;
    text-align: center;
    opacity: .5;
}
