<div class="admin-panel-content-view" layout="column">
    <div layout="column" layout-align="center center" class="no-workout-text" ng-show="vm.isEmpty()" flex>
        <h2 translate="" class="ng-scope">No workouts generated yet.</h2>
        <p> Click the button in the bottom right to generate your first workout.</p>
    </div>
    <md-list flex="80" flex-sm="100" ng-hide="vm.isEmpty()">
            <md-subheader class="md-no-sticky" >Warm up</md-subheader>
            <md-list-item class="md-2-line exercise {{ex.effort}}" ng-repeat="ex in vm.currentWorkout.warmup.exercises" >
                <div class="md-list-item-text">
                    <h3>{{ex.text}}  </h3>
                    <!--<h3>2 x 100m Any Stroke (even pace), rest 0:15 / 100m</h3>-->
                    <p> {{ex.rest}}" rest. </p>
                </div>
            </md-list-item>
            <md-divider ></md-divider>
            <md-subheader class="md-no-sticky">Build-up</md-subheader>
            <md-list-item class="md-2-line exercise {{ex.effort}}" ng-repeat="ex in vm.currentWorkout.buildup.exercises" >
                <div class="md-list-item-text">
                    <h3>{{ex.text}}  </h3>
                    <!--<h3>2 x 100m Any Stroke (even pace), rest 0:15 / 100m</h3>-->
                    <p>  {{ex.rest}}" rest.</p>
                </div>
            </md-list-item>
            <md-divider ></md-divider>
            <md-subheader class="md-no-sticky">Core</md-subheader>
            <md-list-item class="md-2-line exercise {{ex.effort}}" ng-repeat="ex in vm.currentWorkout.core.exercises" >
                <div class="md-list-item-text">
                    <h3>{{ex.text}} </h3>
                    <!--<h3>2 x 100m Any Stroke (even pace), rest 0:15 / 100m</h3>-->
                    <p>{{ex.rest}}" rest. </p>
                </div>
            </md-list-item>
            <md-divider ></md-divider>
            <md-subheader class="md-no-sticky">Warm down</md-subheader>
            <md-list-item class="md-2-line exercise {{ex.effort}}" ng-repeat="ex in vm.currentWorkout.warmdown.exercises" >
                <div class="md-list-item-text">
                    <h3>{{ex.text}} </h3>
                    <!--<h3>2 x 100m Any Stroke (even pace), rest 0:15 / 100m</h3>-->
                    <p> {{ex.rest}}" rest.</p>
                </div>
            </md-list-item>
            <md-divider ></md-divider>
            <md-subheader class="md-no-sticky" ng-model="vm.currentWorkout">{{ vm.title.distance}}</md-subheader>
    </md-list>
</div>
