// import material icons
$zmdi-font-path: "../bower_components/material-design-iconic-font/dist/fonts";
@import "bower_components/material-design-iconic-font/scss/material-design-iconic-font.scss";

// import angular material scss
@import "angular-material/angular-material";

// import triangular module scss
@import "triangular/triangular";

// set template font family
button, select, html, textarea, input {
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}

// import app scss

@import "scss/material-backgrounds";

// Add your CSS here
tri-menu {
  overflow-y: hidden;
}

.admin-sidebar-left md-content{
    overflow-y: hidden;
    height: 100%;
}

.admin-sidebar-left{
   overflow: hidden;
   height: 100%;
}

#admin-panel-content-view {
  min-height: 0;
}


/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
